<!DOCTYPE html>
<html>
<head>
	<title>VoteOrDie!</title>
	<%include head%>


	<link rel='stylesheet' href='/stylesheets/style.css' />


</head>
<body>
	<%include navbar%>

	<% if(name){%>
		<h1>Welcome, <%=name%></h1>
		<% } %>
	<h1>vote or die</h1>
	<div class="col-sm-6 col-sm-offset-3 band-image">
			<h3><%=band.title%></h3>

	<img src="/images/<%=band.imageUrl%>"/>
	<a href="/vote/down/<%=band.id%>"><button class="btn btn-danger">Sucks!</button></a>
	<a href="/vote/up/<%=band.id%>"><button class="btn btn-success">Rocks!</button></a>

</div>






</body>
</html>